@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:ital,wght@0,400;0,900;1,700&family=Nunito:ital,wght@0,400;0,900;1,700&family=Open+Sans+Condensed:ital,wght@0,700;1,300&family=Raleway:ital,wght@0,700;1,400;1,900&family=Yellowtail&display=swap');



body{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px; 
line-height: 1.6;
color: #424551;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
}
[class*="__container"]{
    max-width:810px;
    margin: 0 auto;
}
.title{
font-weight: 900;
font-size: 46px;
line-height: 1.3;
color: #1E212C;
}
.header{
margin: 0px 0px 40px 0px;
}
.statistics__title {
    margin: 0px 0px 26px 0px;
}
.statistics__item {
display: inline-block;
margin: 0px 0px 10px 0px;
}
.statistics__item_data::before{
content:"";
background: url("../img/icon/calendar.svg")0 0 /16px no-repeat;
display: inline-block;
vertical-align: top;
min-height: 16px;
width: 16px;
height: 16px;
margin: 5px 10px 0px 0px;
}
.statistics__item_time::before{
content:"";
background: url("../img/icon/clock.svg")0 0 /16px no-repeat;
display: inline-block;
min-height: 16px;
vertical-align: top;
width: 16px;
height: 16px;
margin: 5px 10px 0px 20px;
}
.statistics__item_share{
    margin: 0px 12px 0px 45%;
}
.statistics__item:last-child{
	margin: 0;
}
.statistics__item_facebook,
.statistics__item_twitter,
.statistics__item_linked {
margin: 0px 10px 0px 0px;
}

.image {
    margin: 0px 0px 60px 0px;
}

.block-content {
}
.block-content__paragraph_black {
font-weight: 700;
font-size: 20px;
line-height: 1.5;
color: #1E212C;
}
.block-content__paragraph:last-child {
    margin: 0px;
}

.block-content__paragraph {
    margin: 0px 0px 24px 0px;
}
.block-content__decor::before{
    content: "";
    display:inline-block;
    background: url("../img/icon/braces.svg")0 0 /28px auto no-repeat;
    width: 28px;
    height: 20px;
   display:inline-block;
margin: 0px 0px -20px 0px;

}

.block-content__decor_margin{
margin: 0px 0px 26px 0px;
}

.block-content__text{
font-weight: 700;
font-size: 20px;
line-height: 1.5;
color: #1E212C;
display: inline-block;
padding: 0px 0px 0px 48px;

}
.item,.list {
  padding: 15px 0px 0px 0px;
}
.item::before{
    content: "";
    background: url("../img/icon/check.svg")0 0/16px no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 20px 0px 0px;
  
}
.list_margin{
    margin: 0px 0px 24px 0px;
}
.main_margin{
    margin: 0px 0px 60px 0px;
}